body{
  background-image: url("../images/ESPACIO.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow-y: hidden;
  backdrop-filter: blur(5px);
}

li a{
  color: #e07228;
  text-decoration: none;
}

nav {
  width: 80%;
  margin: auto;
  position: relative;
  top: 15px;
  border-radius: 20px;
  margin-bottom: 50px;
  border: none;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

nav ul{
  padding: 25px;
  display: flex;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

nav ul li a{
  text-decoration: none;
  color: rgb(218, 218, 218);
}

.activate{
  color: #dc5b51;
}
